<div class="container">
  <div class="row bg-secondary p-4 rounded text-white mt-2">
    <h3>ng-template</h3>
  </div>
  <div class="row">
    <div class="col-4">
      <div
        class="bg-primary p-4 mt-4 rounded text-white"
        *ngIf="isUserLoggedIn; else notLoggedIn"
      >
        {{ loggedUserName }}
      </div>
      <ng-template #notLoggedIn>
        <div class="bg-danger p-4 mt-4 rounded text-white">
          <span>User Not logged In</span>
        </div>
      </ng-template>

      <ng-template #dyanamicTemp>
        <div class="bg-primary p-4 mt-4 rounded text-white">
          <span> Hi , from Dynamic template</span>
        </div>
      </ng-template>

      <div #dynamicContainer></div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-4 mt-4"
      style="display: flex; justify-content: space-evenly"
    >
      <button type="button" class="btn btn-warning" (click)="onHide()">
        Hide
      </button>
      <button type="button" class="btn btn-success" (click)="onShow()">
        Show
      </button>
      <button type="button" class="btn btn-danger" (click)="loadTemplate()">
        Load Template
      </button>
    </div>
  </div>
</div>
