<h1>employee-list </h1>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr.no</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                    <th>Gender</th>
                    <th>Total Marks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of studentList; let sr = index">
                    <td>{{sr}}</td>
                    <td>{{student.studentId}}</td>
                    <td>{{student.name}}</td>
                    <td [ngStyle]="{'background-color' : student.isActive ? 'green'  : 'red'}">

                        <span>{{student.isActive ? 'Active' : 'De-Active'}}</span>

                    </td>
                    <td>{{student.gender}}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" [ngStyle]="{'width':student.marks + '%'}">
                                <span class="sr-only">{{student.marks}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>